<!DOCTYPE html>
<html>
<head>
    <title>{{ 'site_title'|trans }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"/>
    <meta name="keywords"/>
    <link rel="stylesheet" href="{{ asset('themes/public/style.css') }}"/>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>
<body>
    <main>
        <section class="section">
            <div class="container">
                <div class="logo-wrap">
                    <a href="{{ path('portal_content_homepage') }}"> <img src="/themes/public/img/logo.svg"></a>
                </div>
            </div>
        </section> 
        <section class="section">
            <div class="container">
                <div class="error__number"><b>{{ status_code }}</b>{{ status_text }}</div>
                <div class="error__content">
                    <div class="error__title">{% trans from "messages" %}error_page.error{% endtrans %}<b>{% trans from "messages" %}error_page.error_message_500{% endtrans %}</b></div>
                    <div class="error__text">
                        {% trans from "messages" %}error_page.text_500{% endtrans %} {{ errorMessage }}
                    </div><a href="{{ path('portal_content_homepage') }}" class="error__link">{% trans from "messages" %}to_home_page{% endtrans %}</a>
                </div>
            </div>
            </div>
        </section> 
    </main>
  </body>
</html>