<p>{{ 'username'|trans }}: {{ user.username }}</p>
<p>{{ 'email'|trans }}: {{ user.email }}</p>
<p>{{ 'lastname'|trans }}: {{ user.lastname }}</p>
<p>{{ 'firstname'|trans }}: {{ user.firstname }}</p>
<p>{{ 'middlename'|trans }}: {{ user.middlename }}</p>
