{% extends isDepartment ? 'PortalContentBundle::depBase.html.twig' : 'PortalContentBundle::innerPageBase.html.twig' %}

{% block title %}
    {{ 'photo_report'|trans }} | {{ parent() }}
{% endblock %}

{% block headerPanel %}
    {{ panelWidget.renderPanel('header-panel', 'photo_report_all_page')|raw }}
{% endblock %}

{% block beforeContentBlock %}
    {{ panelWidget.renderPanel('before-content-panel', 'photo_report_all_page')|raw }}
{% endblock %}

{% block bottomPanel %}
    {{ panelWidget.renderPanel('bottom-panel', 'photo_report_all_page')|raw }}
{% endblock %}

{% block footerSocialPanel %}
    {{ panelWidget.renderPanel('footer-panel', 'photo_report_all_page')|raw }}
{% endblock %}

{% block sideBar %}{% endblock %}

{% block content %}
    {% if photoReportList is not empty %}
        {% set prevDate = 0 %}
        {% if photoReportList|length < 3 %}
            {% set topEnd = photoReportList|length %}
        {% else %}
            {% set topEnd = 3 %}
        {% endif %}
        {% for item in photoReportList %}
            {% if loop.first %}
<div class="media-top">
    <div class="media _big">
        {% endif %}
        {% if not loop.first and loop.index < 4 %}
        <div class="media _horizontal">
            {% endif %}
            {% if loop.index > 3 %}
            {% set currDate = item.photo_report_published_at|date|localizeddate('none', 'none', app.request.locale, null, 'LLLL y') %}
            {% if prevDate != currDate or loop.index == 4 %}
            {% set prevDate = currDate %}
            {{ loop.index > 4 ? '</div>' : '' }}
            <div class="media-blocks flex_space" data-date="{{ item.photo_report_published_at|date('m.Y') }}">
                <div class="title-date">{{ currDate }} {{ 'year'|trans }}</div>
                {% endif %}
                <div class="media flex_item">
                    {% endif %}
                    {% include 'PortalContentBundle:PhotoReport:photo_item.html.twig' %}
                </div>
                {% if loop.first %}
                <div class="media-top__right">
                    {% endif %}
                    {% if loop.index == topEnd %}
                </div>
            </div>
            {% endif %}
            {% if loop.last and loop.index > 3 %}
        </div>
        {% if photoReportList|length < photoReportCount %}
            <a id="get-more-reports" href="#" class="download" title="{{ 'click_to_view'|trans }}"
               data-count="{{ photoReportCount }}" data-locale="{{ app.request.locale }}" data-url="load_next_photo_report">
                {{ 'show_more'|trans }}
            </a>
        {% endif %}
        {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
