{% extends 'PortalContentBundle::base.html.twig' %}

{% block info_page %}
    <section class="info-page">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="{{ path('portal_content_homepage') }}">{{ 'Home'|trans }}</a></li>
                    <li>{{ 'Gallery'|trans }}</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container"> 
            <div class="title-page"> 
                <h1>{{ 'Gallery'|trans }}</h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
        <div>  
            <ul class="gallery-wrap">
                {% for photo in photoList %}
                <li class="gallery-wrap__item"> 
                    <span>{{ attribute(photo, 'file_description_' ~ app.request.locale) }}</span>
                    <img src="{{ photo.preview_file_url }}" alt="">
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
