{% extends 'PortalAdminBundle::adminBase.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'interview_form.action_edit'|trans }}
{% endblock %}

{% block pageheader %}
    {{ 'interview_form.action_edit'|trans }}
{% endblock %}

{% set sa = is_granted('ROLE_SUPER_ADMIN') %}
{% set permission_codes = permissions.code() %}

{% block topbuttons %}
    <a class="btn btn-success back-to-list" href="{{ path('admin_instance_interview_list', {'instanceCode': instanceCode}) }}">
        <i class="glyphicon glyphicon-repeat"></i> {{ 'come_back'|trans}}
    </a>
    {% if sa or constant('Portal\\ContentBundle\\Entity\\Interview::PERMISSIONS_INTERVIEW')['delete'] in permission_codes or interview.author == app.user.id %}
        <a class="btn btn-warning soft-delete-btn"
           onclick="adminPage.interview.removeItem({{ interview.id }}, '{{ instanceCode }}');">
            <i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/portaladmin/css/slug.css') }}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/portaladmin/script/interview-form/interview-embed-form.js') }}"></script>
    <script src="{{ asset('bundles/portaladmin/script/interview-form/dependent-answer.js') }}"></script>
    <script src="{{ asset('bundles/portaladmin/script/slug-form/slug-form.js') }}"></script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div id="form-body" class="clearfix">
        {% include 'PortalAdminBundle:InterviewAdmin:interviewForm.html.twig' %}
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div id="btn_interview" class="form-actions">
                    <button id="btn_edit" class="btn btn-success" type="submit" name="btn_edit">
                        <i class="glyphicon glyphicon-floppy-disk"></i> {{ 'save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block history %}
    {{ entityLog.renderHistory(interview.id, instanceCode, constant('Portal\\HelperBundle\\Entity\\Log::ENTITY_TYPE_INTERVIEW'))|raw }}
{% endblock %}
