<div class="mobile-nav__behavior">
<ul>
    {% set parent_id = 0 %}
    {% set count = 0 %}
    {% set isHideChilds = false %}
    {% for menuNode in treeMenuMainNodes %}
        {% if menuNode.parentId == parent_id and menuNode.parentId != 0 %}
            {% if (isHideChilds) %}
            {% else %}
                {% if count == 0 %}
                    <div class="mobile-nav__submenu">
                {% endif %}
                {% set count = count + 1 %}

                {% if menuNode.route is not empty %}
                    {% if custom_router.routeExists(menuNode.route) %}
                        {% set href = path(menuNode.route) %}
                    {% else %}
                        {% set href = menuNode.route %}
                    {% endif %}
                {% elseif menuNode.slug is not empty and not menuNode.isLinkOnId %}
                    {% set href = path('structure_slug', { slug: menuNode.slug }) %}
                {% else %}
                    {% set href = path('structure', { id: menuNode.id }) %}
                {% endif %}

                <a href="{{ href }}" class="mobile-nav__link">
                    {{ menuNode.name }}
                </a>
                {% if menuNode.isSeparator %}<hr />{% endif %}
            {% endif %}
        {% else %}
            {% if not loop.first %}
                {% if count > 0 %}
                    </div>
                {% endif %}
                </li>
            {% endif %}
            <li class="mobile-nav__item">
            <b class="mobile-nav__button-plus"></b>
            {% if menuNode.route is not empty %}
                {% if custom_router.routeExists(menuNode.route) %}
                    {% set href = path(menuNode.route) %}
                {% else %}
                    {% set href = menuNode.route %}
                {% endif %}
            {% elseif menuNode.slug is not empty and not menuNode.isLinkOnId %}
                {% set href = path('structure_slug', { slug: menuNode.slug }) %}
            {% else %}
                {% set href = path('structure', { id: menuNode.id }) %}
            {% endif %}

            <a href="{{ href }}" class="mobile-nav__link">
                {{ menuNode.name }}
            </a>
{#            <div class="nav__submenu">#}
            {% set parent_id = menuNode.id %}
            {% if (menuNode.isHideChilds is defined and menuNode.isHideChilds) %}
                {% set isHideChilds = true %}
            {% else %}
                {% set isHideChilds = false %}
            {% endif %}
            {% set count = 0 %}

            {% if loop.last %}
{#        </div>>#}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
</div>

{% if treeMenuNodes is not empty %}
    {% block additionalMenuMobile %}
        <!--.nav__search-->
        <div class="mobile-nav__newmenu">
            <span class="mobile-nav__button-newmenu"><span></span></span>
        </div>
        <!--.nav__search-->
    {% endblock %}
    <div class="mobile-nav__submenu mobile-nav__submenu_all-menu" id="newMenu2">
        <ul>
            {% set parent_id = 0 %}
            {% set count = 0 %}
            {% set separator = 0 %}
            {% for menuNode in treeMenuNodes %}
                {% if menuNode.parentId == parent_id and menuNode.parentId != 0 %}
                    {#TODO: check for system options#}
                    {#{% if count < 5 %}
                        {% if menuNode.route is not empty %}
                            {% if custom_router.routeExists(menuNode.route) %}
                                {% set href = path(menuNode.route) %}
                            {% else %}
                                {% set href = menuNode.route %}
                            {% endif %}
                        {% elseif menuNode.slug is not empty %}
                            {% set href = path('structure_slug', { slug: menuNode.slug }) %}
                        {% else %}
                            {% set href = path('structure', { id: menuNode.id }) %}
                        {% endif %}
                        <div class="">
                            <a href="{{ href }}" class="nav__link">
                                {{ menuNode.name }}
                            </a>
                        </div>
                        {% set count = count + 1 %}
                    {% elseif count == 5 %}
                        <div class="">
                            <a href="{{ parent_link }}" class="nav__link">
                                Показать все >>
                            </a>
                        </div>
                        {% set count = count + 1 %}
                    {% endif %}#}
                {% else %}
                    {% if not loop.first %}
                        </li>
                        {% if separator %}
                            <hr />
                            {% set separator = 0 %}
                        {% endif %}
                    {% endif %}
                    <li class="mobile-nav__item">
                    {% if menuNode.route is not empty %}
                        {% if custom_router.routeExists(menuNode.route) %}
                            {% set href = path(menuNode.route) %}
                        {% else %}
                            {% set href = menuNode.route %}
                        {% endif %}
                    {% elseif menuNode.slug is not empty and not menuNode.isLinkOnId %}
                        {% set href = path('structure_slug', { slug: menuNode.slug }) %}
                    {% else %}
                        {% set href = path('structure', { id: menuNode.id }) %}
                    {% endif %}

                    <a href="{{ href }}" class="mobile-nav__link mobile-nav__link_first">
                        {{ menuNode.name }}
                    </a>
                    {% if loop.last %}
                        </li>
                    {% endif %}
                    {% set parent_id = menuNode.id %}
                    {% set parent_link = href %}
                    {% set count = 0 %}
                    {% if menuNode.isSeparator %}
                        {% set separator = 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
























