{% extends 'PortalContentBundle::base.html.twig' %}

{% block info_page %}
    <div class="info-page">
        <div class="info-page__posit">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="{{ path('portal_content_homepage') }}">{{ 'Home'|trans }}</a></li>
                    <li>{{ 'Opinion'|trans }}</li>
                </ul>
            </div>
            <div class="title-page">{{ 'Opinion'|trans }}</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content content_catalog">
        {% include 'PortalContentBundle:Post:postList.html.twig' %}

    </div>
    <!--.content-->
    {% if hideButton == false %}
        <div class="button_posit-box get-more-posts" data-page="{{ currentPage }}">
            <div class="button button_center">{{ 'Show more'|trans }}</div>
        </div>
    {% endif %}
    <div class="pagination clearfix">
        {{ pagination|raw }}
    </div>
{% endblock %}
