{% extends 'PortalContentBundle::base.html.twig' %}

{% block info_page %}
    <section class="info-page">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="{{ path('portal_content_homepage') }}">{{ 'Home'|trans }}</a></li>
                    <li>{{ 'Opinion'|trans }}</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container"> 
            <div class="title-page"> 
                <h1>{{ 'Opinion'|trans }}</h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section"> 
        <div class="container">
            <div class="article-list">
                {% include 'PortalContentBundle:Post:postList.html.twig' %}
            </div>
            <!--.content-->
            <div class="pagination">
                {{ pagination|raw }}
            </div>
        </div>
    </section>
{% endblock %}
