<div id="reportFilter" class="well">
    <div class="clearfix">
        <div class="form-group clearfix col-lg-6">
            <label>{{ 'news_title'|trans }}:</label>
            <input id="filterTitle" name="filterTitle" class="form-control" type="text" placeholder="{{ 'title'|trans }}"
                   value="{{ filterParams.filterTitle is defined ? filterParams.filterTitle : '' }}"/>
            <br>
            <label for="filterPublished">{{ 'published_only'|trans }}:</label>
            <input id="filterPublished" name="filterPublished" type="checkbox"
                    {{ (filterParams.filterPublished is defined and filterParams.filterPublished == 'false') ? '' : ' checked' }}/>
            <br>
            <label for="filterNotPublished">{{ 'not_published_only'|trans }}:</label>
            <input id="filterNotPublished" name="filterNotPublished" type="checkbox"
                    {{ (filterParams.filterNotPublished is defined and filterParams.filterNotPublished == 'false') ? '' : ' checked' }}/>
        </div>

        <div class="form-group clearfix col-lg-3">
            <label>{{ 'create_date'|trans }}:</label>
            <input id="filterCreateFrom" name="filterCreateFrom" class="form-control js-datepicker" placeholder="{{ 'from'|trans }}"
                   value="{{ filterParams.filterCreateFrom is defined ? filterParams.filterCreateFrom : '' }}" type="date"/>
            <input id="filterCreateTo" name="filterCreateTo" class="form-control js-datepicker" placeholder="{{ 'to'|trans }}"
                   value="{{ filterParams.filterCreateTo is defined ? filterParams.filterCreateTo : '' }}" type="date"/>
        </div>

        <div class="form-group clearfix  col-lg-3">
            <label>{{ 'publish_date'|trans }}:</label>
            <input id="filterPublishFrom" name="filterPublishFrom" class="form-control js-datepicker" placeholder="{{ 'from'|trans }}"
                   value="{{ filterParams.filterPublishFrom is defined ? filterParams.filterPublishFrom : '' }}" type="date"/>
            <input id="filterPublishTo" name="filterPublishTo" class="form-control js-datepicker" placeholder="{{ 'to'|trans }}"
                   value="{{ filterParams.filterPublishTo is defined ? filterParams.filterPublishTo : '' }}" type="date"/>
        </div>
    </div>
    <input type="hidden" name="instanceCode" value="{{ instanceCode }}">
    <button id="filterArticle" class="btn btn-sm btn-primary">{{ 'filter'|trans }}</button>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/portaladmin/js/article-filter.js') }}"></script>
{% endblock %}
