{% extends 'PortalAdminBundle::adminBase.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'banner.action_edit'|trans }}
{% endblock %}

{% block pageheader %}
    {{ 'banner.action_edit'|trans }}
{% endblock %}

{% set sa = is_granted('ROLE_SUPER_ADMIN') %}

{% block topbuttons %}
    <a class="btn btn-success back-to-list" href="{{ path('admin_instance_banner_index', { 'instanceCode': instanceCode }) }}">
        <i class="glyphicon glyphicon-repeat"></i> {{ 'come_back'|trans }}
    </a>
    {% if (sa or constant('Portal\\ContentBundle\\Entity\\Banner::PERMISSIONS_BANNER')['delete'] in permissions.code()
        or banner.author == app.user.id) and banner.id %}
        <a class="btn btn-warning" onclick="adminPage.banner.removeItem({{ banner.id }}, '{{ instanceCode }}');">
            <i class="glyphicon glyphicon-trash"></i> {{ 'delete'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/portaladmin/RCropper/dist/rcrop.min.js') }}"></script>
    <script src="{{ asset('bundles/portaladmin/script/crop-image/crop-image-attachment.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/portaladmin/RCropper/dist/rcrop.min.css') }}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div id="form-body" class="clearfix">
            <div class="form-group">
                <div class="col-sm-3 text-right">{{ form_label(form.title) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    <div class="errors">
                        {% for error in form.title.vars.errors %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">{{ form_label(form.ref) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(form.ref, {'attr': {'class': 'form-control'}}) }}
                    <div class="errors">
                        {% for error in form.ref.vars.errors %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">{{ form_label(form.file) }}</div>
                <div class="col-sm-9">
                    <div class="preview-form">
                        <div class="rcrop-wrapper" data-min-width="180" data-min-height="60">
                            {% if banner.preview %}
                                <img class="preview-image" id="loadImg" src="{{ asset(banner.previewFileUrl) }}">
                            {#{% else %}#}
                                {#<img class="load-img preview-image" id="loadImg">#}
                            {% endif %}
                        </div>
                        {{ form_widget(form.file) }}
                        {{ form_widget(form.cropStartX) }}
                        {{ form_widget(form.cropStartY) }}
                        {{ form_widget(form.cropWidth) }}
                        {{ form_widget(form.cropHeight) }}

                    </div>
                    <div class="errors">
                        {% for error in form.file.vars.errors %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">{{ form_label(form.isPublished) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(form.isPublished) }}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 text-right">{{ form_label(form.openInNewTab) }}</div>
                <div class="col-sm-9">
                    {{ form_widget(form.openInNewTab) }}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block history %}
    {{ entityLog.renderHistory(banner.id, instanceCode, constant('Portal\\HelperBundle\\Entity\\Log::ENTITY_TYPE_BANNER'))|raw }}
{% endblock %}
