{% extends 'PortalContentBundle::base.html.twig' %}

{% block info_page %}
    <section class="info-page">
        <div class="container">
          <div class="bread-crumbs">
            <ul>
                <li><a href="{{ path('portal_content_homepage') }}">{{ 'Home'|trans }}</a></li>
                <li>{{ 'Magazine'|trans }}</li>
            </ul>
          </div>
        </div>
    </section>
    <section class="section">
        <div class="container"> 
            <div class="title-page"> 
                <h1>{{ 'Magazine'|trans }}</h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section"> 
        <div class="container">
            <div class="magazine-newspaper-list">
                {% include 'PortalContentBundle:Magazine:magazineList.html.twig' %}
            </div>
        </div>
        <div class="pagination">
            {{ pagination|raw }}
        </div>
    </section>  
{% endblock %}
