{% for article in articleList %}
    <div class="news-box {{ addClass is defined ? addClass : '' }}" data-id="{{ article.article_id }}">

        {% if article.original_article_id is defined and article.original_article_id %}
            {% set article_id = article.original_article_id %}
        {% else %}
            {% set article_id = article.article_id %}
        {% endif %}

        {% if article.original_instance_code is defined and article.original_instance_code %}
            {% set href = protocol ~ '://' ~  article.original_instance_code ~ '.' ~ site_name ~ path('article_show', {'id': article_id}) %}
        {% else %}
            {% set href = path('article_show', {'id': article_id}) %}
        {% endif %}

        <a href="{{ href }}" class="news-box__link ">
            {% set path = (article.original_file_path is defined and article.original_file_path) ? article.original_file_path : article.article_file_url|thumbImage %}
            <img src="{{ asset(path|existsImage) }}" alt="{{ article.article_title }}">
        </a>
        <div class="news-box__info">
            <a href="{{ href }}" class="news-box__title">
                {{ article.article_title }}
            </a>
            <div class="news-box__content">{{ article.article_subtitle }}</div>
            <div class="clearfix">
                <div class="news-box__eye">
                    {{ article.article_manual_views_counter ?: article.article_views_counter }}
                </div>
                <div class="news-box__date">{{ article.article_published_at|date('d.m.Y') }}</div>
            </div>
        </div>

    </div>
{% endfor %}
