{% extends 'PortalContentBundle::base.html.twig' %}

{% block info_page %}
    {% set queryStr = app.request.get('str') %}

    <section class="info-page">
        <div class="container">
            <div class="bread-crumbs">
                <ul>
                    <li><a href="{{ path('portal_content_homepage') }}">{{ 'Home'|trans }}</a></li>
                    <li>{{ 'Search'|trans }}</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container"> 
            <div class="title-page">
                {% if queryStr %}
                    <h1>{{ 'Search results on demand'|trans }}: {{ queryStr }}</h1>
                {% else %}
                    <h1>{{ 'Search'|trans }}</h1>
                 {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    {% set queryStr = app.request.get('str') %}
    <section class="section">
        <div class="container"> 
            <form class="search-page" method="GET" action="{{ path('search') }}">
                <div class="search-page__box">
                    <input type="text" name="str" placeholder="{{ 'Search'|trans }}" class="search-page__pole" value="{{ queryStr }}">
                    <button type="submit" class="search-page__button search-page__icon search-page__icon_search"></button>
                </div>
            </form>
        </div>
    </section>

    <section class="section"> 
        <div class="container">
            {% if articleList is not empty %}
                <div class="article-list">
                    {% for article in articleList %}
                        <div class="article-list__item">
                            <div class="article-list__item-wrap">
                                <div class="article-list__item-wrap-image">
                                    <a href="{{ path('article_show', { 'id': article.id }) }}">
                                        <img src="{{ asset(article.preview_file_url|thumbImage) }}" alt="">
                                    </a>
                                </div>
                                <div class="article-list__item-wrap-information">
                                    <div class="article-list__item-wrap-information-date">
                                        <span>{{ article.created_at|date|localizeddate('full', 'none', app.request.locale, null, 'd MMMM yyyy' ) }}</span>
                                    </div>
                                    <div class="article-list__item-wrap-information-title">
                                        <a href="{{ path('article_show', { 'id': article.id }) }}">
                                            <h2>{{ attribute(article, 'title_' ~ app.request.locale) }}</h2>
                                        </a>
                                    </div>
                                    <div class="article-list__item-wrap-information-button component-read-more-wrap">
                                        <a href="{{ path('article_show', { 'id': article.id }) }}" class="component-read-more">{{ 'More detailed'|trans }}<img src="/themes/public/img/arrow-red.svg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% elseif queryStr %}
                <h2>{{ 'No results'|trans }}</h2>
            {% endif %}
            <div class="pagination">
                {{ pagination|raw }}
            </div>
        </div>
    </section>
{% endblock %}
