<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

    {# <link href="{{ asset('themes/base/images/sed/login/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>#}
    <title>{% block title %}{{ 'register'|trans() }}{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portaladmin/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portaladmin/BootplyAdminTemplate/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/portaladmin/BootplyAdminTemplate/css/styles.css') }}">

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/portaladmin/css/main.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/portaladmin/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/portaladmin/BootplyAdminTemplate/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>
<body class="form-login">
<div class="container">

    <a class="logo" href="/">
        <span>ПРАВИТЕЛЬСТВО РЕСПУБЛИКИ КРЫМ</span>
        ОФИЦИАЛЬНЫЙ ПОРТАЛ
    </a>

    <div class="login-card login-card-container form-login-wid">
        {% block fos_user_content %}
            {% include "PortalUserBundle:Registration:register_content.html.twig" %}
        {% endblock fos_user_content %}
    </div><!-- /card-container -->
</div><!-- /container -->
</body>
</html>
