{% extends 'PortalContentBundle::base.html.twig' %}

{% block info_page %}
    <section class="info-page">
        <div class="container">
          <div class="bread-crumbs">
            <ul>
                <li><a href="{{ path('portal_content_homepage') }}">{{ 'Home'|trans }}</a></li>
                <li>{{ 'Feedback'|trans }}</li>
            </ul>
          </div>
        </div>
    </section>
    <section class="section">
        <div class="container"> 
          <div class="title-page"> 
            <h1>{{ 'Feedback'|trans }}</h1>
          </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<section class="section"> 
    <div class="container">
        <div class="content__contact-info">
            {{ feedback.content|raw }}
        </div> 
    </div>
</section>
    {%  if (feedback.isFormShown) %}
        {% include 'PortalContentBundle:FeedbackForm:form.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('select').chosen()
        });
    </script>
{% endblock %}